<%- include('../partials/header') %>

<% if (recipes.length) { %>
  <table id="list">
    <thead>
        <tr>
          <th>Recipe Name:</th>
          <th>Posted By:</th>
        </tr>
      </thead>
      <tbody>
        <% recipes.forEach(function(r) { %>
          <tr>
            <td><a href="/recipes/<%= r.id %>"><%= r.name %></a></td>
            <td class="recipe-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
              <%= r.userName %>
              <% if (user && user._id.equals(r.user)) { %>
                <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete <br>Recipe</button>
                </form>
              <% } %>
            </td>              
          </tr>
        <% }); %>
        
      </tbody>
    </table>
  <% } else { %>
    <h5>No Recipes Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>