<%- include('../partials/header') %>

<section id="show-page">
    <div>Recipe:</div>
    <div><%= recipe.name %></div>
    <div>Ingredients: </div>
    <div><%= recipe.ingredients %></div>
    <div>Directions: </div>
    <div><%= recipe.directions %></div>
</section>

<%- include('../partials/footer') %>